body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    background-color: #c4c1c1;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: inherit;
}

.section h1 {
    margin-bottom: 10px;
    color: #333333;
}

.section button {
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#btnAgregarPrestamo {
    background-color: #28a745;
}

#btnAgregarPrestamo:hover {
    background-color: #fff;
    color: #28a745;
}

#btnPagos {
    background-color: coral;
}

#btnPagos:hover {
    background-color: #fff;
    color: coral;
}

#btnVerPrestamo {
    background-color: #dc3545;
}

#btnVerPrestamo:hover {
    background-color: #fff;
    color: #dc3545;
}

#btnLimpiarLS {
    background-color: blue;
    color: #fff;
}

#btnLimpiarLS:hover {
    background-color: #fff;
    color: blue;
}

#btnConvert {
    background-color: blue;
    color: #fff;
}

#btnConvert:hover {
    background-color: #fff;
    color: blue;
}

.section select {
    display: inline-block; /* Agregamos esta línea para que los selects queden en línea */
    width: auto; /* Ajustamos el ancho para que se ajusten al contenido */
    margin-right: 10px; /* Espacio entre los selects */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.converter-input {
    display: flex;
    align-items: center;
}

.converter-input input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#result {
    margin-top: 30px;
    font-weight: bold;
    color: darkblue;
    border: 1px solid black;
    height: 40px;
    padding-left: 5px;
    padding-top: 2px;
}

.labelFiltro {
    color: darkblue;
    font-size: 12px;
}

.labelTotal {
    color: red;
    font-size: 20px;
    display: flex;
    text-align: inherit;
}
